<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10,IE=Edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Amazon</title>

    @*@Styles.Render("~/Content/css")*@

    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/common.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/jsmind.css" />

    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-autocomplete/jquery.auto-complete.js"></script>
    <script type="text/javascript" src="~/Scripts/jsmind/jsmind.js"></script>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top div-nav">
        <nav class="navbar navbar-default navbar-fixed-top nav-content">
            <div class="container">
                <div class="navbar-header logo">
                    <a class="navbar-brand" href="#">
                        <img src="~/Content/images/FinisarLogo.jpg" width="250" height="54">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse div-navlink">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">WorkFlow Template<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/WorkFlowTemplate/AllWorkFlowTemplate">All WorkFlow Template</a>
                                </li>
                                <li>
                                    <a href="/WorkFlowTemplate/CreateWorkFlowTemplate">Create WorkFlow Template</a>
                                </li>
                                <li>
                                    <a href="/WorkFlowTemplate/CreateWorkFlowTemplate">Cached WorkFlow Template</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">WorkFlow<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/WorkFlow/AllWorkFlow">View WorkFlow</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav div-nav-right">
                        <li>
                            <a><span class="header-user">@ViewBag.UserName</span></a>
                        </li>
                        <li>
                            <a href="/Login/Logout">
                                <span class="logout glyphicon glyphicon-log-out" aria-hidden="true" title="Logout"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Amazon</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
