
@{
    ViewBag.Title = "WorkFlowNodeDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var nodeidx = 0;
}

@*<link type="text/css" rel="stylesheet" href="~/Content/jquery.multiselect.css" />*@



<ol class="breadcrumb">
    <li><a href="/WorkFlow/AllWorkFlow">WorkFlow</a></li>
    <li class="active">Node Detail</li>
</ol>

<script src="../../ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Scripts/nodedetail.js"></script>
<script type="text/javascript">
        $(function(){
            NodeDetail.init();
        })
</script>

<input id="HWFID" name="HWFID" value="@(ViewBag.CurrentWFID)" type="hidden">
<input id="HNODEID" name="HNODEID" value="@(ViewBag.CurrentNodeID)" type="hidden">
<input id="HSTEPNAME" name="HSTEPNAME" value="@(ViewBag.CurrentStepName)" type="hidden">

<div class="wfn-info col-xs-4">
    <table class="table table-condensed wfe-table">
        <tr>
            <td>Title1</td>
            <td><strong>Content1</strong></td>
        </tr>
        <tr>
            <td>Title1</td>
            <td><strong>Content1</strong></td>
        </tr>
        <tr>
            <td>Title1</td>
            <td><strong>Content1</strong></td>
        </tr>
        <tr>
            <td>Title1</td>
            <td><strong>Content1</strong></td>
        </tr>
        <tr>
            <td>Title1</td>
            <td><strong>Content1</strong></td>
        </tr>
    </table>
</div>
<div class="wfn-content col-xs-8 padding-gap">
    <div class="wfn-view">
        <i class="glyphicon glyphicon-zoom-in span-zoom d-span-zoom-in"></i>
        <i class="glyphicon glyphicon-zoom-out span-zoom span-zoom-out"></i>
        <div class="jsmind-container" id="wfn-jc-detai" data-id="@(ViewBag.CurrentWFID)"></div>
    </div>
    
    <div class="wfn-detail">
        <div class="row wfn-current">
            <label class="col-xs-3">Current Step: </label>
            <label class="col-xs-9">@(ViewBag.CurrentStepName)</label>
        </div>

        @if (ViewBag.CurrentChildNameList != null && ViewBag.CurrentChildNameList.Count > 1)
        {
            <div class="row wfn-next">
                <label class="col-xs-3">NextSteps: </label>
                @*<div class="col-xs-9 logic-select">
                    <select class="form-control next-steps">
                        <option value="1" data-id="wf-node-id">SubStepYes</option>
                        <option value="0" data-id="wf-node-id">SubStepNo</option>
                    </select>
                    <input type="button" class="btn btn-success"
                           id="btn-next-start" name="btn-next-start" value="Start">
                </div>*@

                <ul class="list-group col-xs-9">
                @foreach (var nodename in ViewBag.CurrentChildNameList)
                {
                    var nextnodestatus = "n-step-start";
                    var nextnodestatusop = "status-op";
                    var statustitle = "Start";
                    var statusicon = "glyphicon-play";
                    if (string.Compare(ViewBag.CurrentChildStatusList[nodeidx], Amazon.Models.WORKFLOWSTEPSTATUS.pending,true) != 0)
                    {
                        nextnodestatus = "n-step-working";
                        nextnodestatusop = "status-done";
                        statustitle = "Active";
                        statusicon = "glyphicon-ok-sign";
                    }

                    <li class="list-group-item">
                        <span class="@(nextnodestatus)">
                            <span class="glyphicon @(statusicon) @(nextnodestatusop)"
                                  data-node-id="@(ViewBag.CurrentChildIDList[nodeidx])" title="@(statustitle)" data-toggle="tooltip"></span>
                        </span>
                        @nodename
                    </li>

                    nodeidx = nodeidx + 1;
                }
                </ul>
            </div>
        }

        @*<div class="row">
            @if (ViewBag.CurrentChildNameList != null && ViewBag.CurrentChildNameList.Count > 0)
            {
                <div class="form-group col-xs-4">
                    <select id="nextnodes" name="nextnodes" multiple>
                        @foreach (var nodename in ViewBag.CurrentChildNameList)
                        {
                            <option value="@ViewBag.CurrentChildIDList[nodeidx]">@nodename</option>
                            nodeidx = nodeidx + 1;
                        }
                    </select>
                </div>
                <div class="form-group col-xs-2"><input type="button" class="btn btn-success" id="btn-node-startnext" value="Start"></div>
                <script type="text/javascript" src="~/Scripts/jquery.multiselect.js"></script>
                <script type="text/javascript">
                    $('#nextnodes').multiselect({
                        columns: 1,
                        placeholder: 'Choose Next Step',
                        selectAll:true
                    });
                </script>
            }
        </div>*@
    </div>

    <div class="wfn-detail">
        <div class="form-group col-xs-6">
            <label>Label1</label>
            <input type="text" class="form-control" id="input1" name="input1" value="input1">
        </div>
        <div class="form-group col-xs-6">
            <label>Label1</label>
            <input type="text" class="form-control" id="input1" name="input1" value="input1">
        </div>
        <div class="form-group col-xs-6">
            <label>Label1</label>
            <input type="text" class="form-control" id="input1" name="input1" value="input1">
        </div>
        <div class="form-group col-xs-6">
            <label>Label1</label>
            <input type="text" class="form-control" id="input1" name="input1" value="input1">
        </div>
        <div class="form-group col-xs-6">
            <label>Label1</label>
            <input type="text" class="form-control" id="input1" name="input1" value="input1">
        </div>
        <div class="form-group col-xs-6">
            <label>Label1</label>
            <input type="text" class="form-control" id="input1" name="input1" value="input1">
        </div>
    </div>

    <div class="wfn-comment">
        <label>Comment:</label>
        <textarea class="form-control" id="n_comment" name="n_comment"
                  rows="3"></textarea>
        <script>
            CKEDITOR.replace('n_comment', { htmlEncodeOutput: true, skin: 'moono-lisa' });
        </script>
    </div>
    <div class="wfn-comment">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <span class="btn btn-success btn-file" id="choosefile6">
                            <strong>Editor Attachment </strong><input type="file" name="file6" id="file6" runat="server" onchange="ShowFileNames6(this)" />
                        </span>
                    </div>
                    <div class="col-xs-8"></div>
                </div>
                <script type="text/javascript">
                                            function ShowFileNames6(oFile) {
                                                ajaxFileUpload();
                                            }
                                            function ajaxFileUpload() {
                                                $.ajaxFileUpload
                                                (
                                                    {
                                                        url: '/userfiles/ImageUpload.ashx',
                                                        secureuri: false,
                                                        fileElementId: 'file6',
                                                        dataType: 'HTML',
                                                        success: function (data, status)
                                                        {
                                                            var wholeval = CKEDITOR.instances.n_comment.getData() + data;
                                                            CKEDITOR.instances.n_comment.setData(wholeval);
                                                        },
                                                        error: function (e)
                                                        {
                                                            alert(e);
                                                        }
                                                    }
                                                )
                                                return false;
                                            }
                </script>
            </div>
        </div>
    </div>
    <div class="wfn-op">
        <input type="button" class="btn btn-warning btn-op" id="btn-node-cancel" value="Cancel">
        <input type="button" class="btn btn-success btn-op" id="btn-node-submit" value="Submit">
    </div>
</div>
