@model IEnumerable<Amazon.Models.WorkFlowTemplateVM>
@{
    ViewBag.Title = "AllWorkFlowTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var wfidx = 0;
}

<script type="text/javascript" src="~/Scripts/workflowtemplate.js"></script>
<script type="text/javascript">
        $(function(){
            WorkFlowTemplate.show();
        })
</script>

<div class="container bc-content">
    <ol class="breadcrumb">
        <li><a href="#">WorkFlow Template</a></li>
        <li class="active">View WorkFlow Template</li>
    </ol>
</div>

<div class="row wf-type-op">
    <select id="wf-type" name="wf-type" class="form-control wf-type">
        <option value="ALL" selected="selected" disabled="disabled">WorkFlow Template Type</option>
        <option value="ALL">ALL</option>
        @foreach (var type in ViewBag.WorkFlowTypeList)
        {
            <option value="@type">@type</option>
        }
    </select>
</div>

<div class="row wf-list">
    @foreach (var item in Model)
    {
        <section class="wf-list-detail">
            <div class="col-xs-3">
                <div class="swf-info">
                    <label class="col-xs-12">WorkFlow Name:</label>
                    <span class="col-xs-12">@item.WFTName</span>
                    <label class="col-xs-12">WorkFlow Type:</label>
                    <span class="col-xs-12">@item.WFTType</span>
                </div>
                <div class="swf-op" data-id="@item.WFTID">
                    <input type="button" class="btn btn-danger del-swf-op"
                           id="del-wf-btn-@wfidx" name="del-wf-btn-@wfidx" value="Delete">
                </div>
            </div>

            <div class="col-xs-9 padding-gap">
                <i class="glyphicon glyphicon-zoom-in span-zoom span-zoom-in"></i>
                <i class="glyphicon glyphicon-zoom-out span-zoom span-zoom-out"></i>
                <div class="jsmind_container jc" id="jc_@wfidx" data-id="@item.WFTID"></div>
            </div>
        </section>
        wfidx = wfidx + 1;
    }

</div>
